@charset 'UTF-8';
body{
    background-color: rgb(61, 206, 158);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-size: italic;
}
section{
    background: white;
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    
}